{% extends "account/base.html" %}

{% block title %}Edit Profile{% endblock title %}

{% block nav %}
{% include "account/nav.html" with path="account-user-profile" %}
{% endblock nav %}

{% block main %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4">

      <div class="card shadow-sm">
        <div class="card-body">

          <h5 class="text-center mb-4 p-3">Email</h5>

          <form method="post">
            {% csrf_token %}
            <h6>Email Address</h6>

            <div class="input-group mb-3">
              <input type="text" class="form-control" name="email" placeholder="example@gmail.com" value="{{user.email}}">
              {% include "error-field.html" with form=form name="email" %}
            </div>
            <div class="mb-3 text-end">
              <small>
                {% if email_verified is True %}
                Email is verified
                {% else %}
                <a href="#" class="text-decoration-none">Click here to verify Email</a>
                {% endif %}
              </small>
            </div>
            <button type="submit" class=" form-control btn btn-primary">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main %}
