{% extends "account/base.html" %}

{% block title %}Profile{% endblock title %}

{% block nav %}
{% include "account/nav.html" with path="account-user-profile" %}
{% endblock nav %}

{% block main %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4">

      <div class="card shadow-sm">
        <div class="card-body">

          <h5 class="text-center mb-4 p-3">Email</h5>

          <form method="post">
            {% csrf_token %}
            <h6>Email Address</h6>

            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="example@gmail.com" aria-label="Email address" aria-describedby="email">
              {% include "error-field.html" with form=form name="email" %}
              <button class="btn btn-outline-secondary" type="button" id="verify_email">Verify Email</button>
            </div>
            <button type="submit" class=" form-control btn btn-primary">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main %}
