{% extends "account/base.html" %}

{% block title %}Edit Profile{% endblock title %}

{% block nav %}
{% include "account/nav.html" with path="account-user-profile" %}
{% endblock nav %}

{% block main %}
<div class="container mt-5 shadow-sm border rounded p-4 bg-body-tertiary" style="max-width: 35rem;">
  <h4 class="text-center mb-4">Update your address</h4>
  <form method="post">
    {% csrf_token %}

    <div class="mb-4">
      <label for="address" class="form-label">Address</label>
      <input type="text" class="form-control" id="address" name="address" value="{{ user.address|default_if_none:'' }}">
      {% include "error-field.html" with form=form name="address" %}
    </div>

    <button type="submit" class="form-control btn btn-primary">Save</button>
  </form>
</div>
{% endblock main %}
