{% extends "account/base.html" %}

{% block title %}Change Password{% endblock title %}

{% block nav %}
{% include "account/nav.html" with path="account-user-profile" %}
{% endblock nav %}

{% block main %}
<div class="container mt-5 border p-4 rounded bg-body-tertiary" style="max-width: 30rem;">
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}">
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  <h4 class="text-center py-4">Change Password</h4>
  <form method="post">
    {% csrf_token %}
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="oldPassword" name="old_password" required>
      {% include "error-field.html" with form=form name="old_password" %}
      <label for="oldPassword">Old Password</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="newPassword" name="new_password" required>
      {% include "error-field.html" with form=form name="new_password" %}
      <label for="newPassword">New Password</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="confirmNewPassword" name="confirm_new_password" required>
      {% include "error-field.html" with form=form name="confirm_new_password" %}
      <label for="confirmNewPassword">Confirm New Password</label>
    </div>
    <button type="submit" class=" form-control btn btn-primary">Save</button>
  </form>
</div>

{% endblock main %}
