{% extends "account/base.html" %}

{% block title %}Profile{% endblock title %}

{% block nav %}
{% include "account/nav.html" with path="account-user-profile" %}
{% endblock nav %}

{% block main %}
<div class="container mt-5 border p-4 rounded bg-body-tertiary" style="max-width: 30rem;">
  <h4 class="text-center mb-3">Personal Information</h4>

  <form method="post">
    {% csrf_token %}

    <label class="d-flex align-items-center justify-content-between p-3 border rounded mb-3" style="cursor:pointer;">
      <div class="d-flex align-items-center">
        <i class="fa-solid fa-camera me-3"></i>
        Profile Photo
      </div>
      <input type="file" class="d-none" name="avatar">
    </label>

    <div class="d-flex align-items-center p-3 border rounded mb-3" style="cursor:pointer;">
      <i class="fa-solid fa-id-card me-3"></i>
      <div>
        <a href="#" class="text-decoration-none text-reset">Full Name</a>
      </div>
    </div>

    <div class="d-flex align-items-center p-3 border rounded mb-3" style="cursor:pointer;">
      <i class="fa-solid fa-user me-3"></i>
      <div>
        <div>
          <a href="#" class="text-decoration-none text-reset">Gender</a>
        </div>
      </div>
    </div>

    <div class="d-flex align-items-center p-3 border rounded mb-3" style="cursor:pointer;">
      <i class="fa-solid fa-envelope me-3"></i>
      <div>
        <div>
          <a href="#" class="text-decoration-none text-reset">Email</a>
          <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{ user.email }}">
        </div>
      </div>
    </div>

    <div class="d-flex align-items-center p-3 border rounded mb-3" style="cursor:pointer;">
      <i class="fa-solid fa-phone me-3"></i>
      <div>
        <div>
          <a href="#" class="text-decoration-none text-reset">Phone Number</a>
        </div>
      </div>
    </div>


    <div class="d-flex align-items-center p-3 border rounded mb-3" style="cursor:pointer;">
      <i class="fa-solid fa-cake-candles me-3"></i>
      <div>
        <div>
          <a href="#" class="text-decoration-none text-reset">Birthday</a>
        </div>
      </div>
    </div>



    <div class="d-flex align-items-center p-3 border rounded mb-3" style="cursor:pointer;">
      <i class="fa-solid fa-house me-3"></i>
      <div>
        <div>
          <a href="#" class="text-decoration-none text-reset">Address</a>
        </div>
      </div>
    </div>

  </form>
</div>
{% endblock main %}
