{% extends "account/base.html" %}

{% block title %}Register{% endblock title %}

{% block nav %}
{% include "account/nav.html" with path="account-user-register" %}
{% endblock nav %}

{% block main %}
<div class="container mt-5 border p-4 rounded bg-body-tertiary" style="max-width: 30rem;">
  <h4 class="text-center mb-4">Register</h4>
  <form method="post">
    {% csrf_token %}

    <div class="mb-3">
      <label for="userRegisterInputEmail" class="form-label ">Email address</label>
      <input type="email" class="form-control" id="userRegisterInputEmail" name="email" value="{{ form.email.value|default_if_none:'' }}" required>
      {% include "error-field.html" with form=form name="email" %}
    </div>

    <div class="mb-4">
      <label for="userRegisterInputPassword" class="form-label">Password</label>
      <input type="password" class="form-control" id="userRegisterInputPassword" name="password" value="{{ form.password.value|default_if_none:'' }}" required>
      {% include "error-field.html" with form=form name="password" %}
    </div>

    <div class="mb-4">
      <label for="userRegisterConfirmPassword" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" id="userRegisterConfirmPassword" name="confirm_password" required>
    </div>

    <button type="submit" class=" form-control btn btn-primary">Register</button>
  </form>
</div>
{% endblock main %}
