{% extends "account/base.html" %}

{% block title %}OTP Verify {% endblock title %}

{% block nav %}
{% include "account/nav.html" with path="account-home" %}
{% endblock nav %}

{% block main %}
<div class="container mt-5 shadow-sm border rounded p-4 bg-body-tertiary" style="max-width: 35rem">
  <h4 class="text-center mb-4">Update your email</h4>
  <form method="post" action="{% url 'otp_verify_email' %}">
    {% csrf_token %}

    <div class="mb-3">
      <label for="OTPInput">OTP: </label>
      <input type="text" class="form-control" id="OTPInput" name="otp">
    </div>

    <div class="mb-3">
      {% if email_verify_otp %}
      <p><b>This otp will be expired at {{ email_verify_otp.expired_at|display }}</b></p>
      {% endif %}
    </div>
      <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>

{% endblock main %}
